node-red/flows.json
[{"id":"50980a8e.663db4","type":"tab","label":"Zigbee2MQTT Admin Panel","disabled":false,"info":""},{"id":"f57f3c7d.e814f","type":"tab","label":"Motion Sensors","disabled":false,"info":""},{"id":"63e2b384.b083cc","type":"subflow","name":"Network Map","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"31603bf4.ef0d04","type":"subflow","name":"Pairing Notifications","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"de520821.ba64a8","type":"subflow","name":"Devices","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"c7eff855.590c68","type":"subflow","name":"Status","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"23f2967c.7736da","type":"subflow","name":"Logging Level","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"9003f01a.461e5","type":"subflow","name":"Remove Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"3961a81d.10f088","type":"subflow","name":"Permit Join","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"5cdac9a8.0a6628","type":"subflow","name":"Rename Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"f008d9e7.b52e28","type":"server","z":"","name":"Home Assistant","legacy":false},{"id":"8f02d03b.8ad56","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c11a703.4df1f8","type":"ui_group","z":"de520821.ba64a8","name":"Devices","tab":"540074dc.861f9c","order":1,"disp":true,"width":"12","collapse":false},{"id":"58e4ce44.5720e","type":"ui_group","z":"","name":"Status","tab":"540074dc.861f9c","order":2,"disp":true,"width":"6","collapse":false},{"id":"50bc64e8.f0707c","type":"ui_group","z":"23f2967c.7736da","name":"Logging Level","tab":"540074dc.861f9c","order":4,"disp":true,"width":"6","collapse":false},{"id":"fadceea6.d09e2","type":"ui_group","z":"9003f01a.461e5","name":"Remove Device","tab":"540074dc.861f9c","order":5,"disp":true,"width":"6","collapse":false},{"id":"7ecea253.942ecc","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af644b9e.a333e8","type":"ui_group","z":"","name":"Permit Join","tab":"540074dc.861f9c","order":3,"disp":true,"width":"6","collapse":false},{"id":"3d3dfd2c.a4aa22","type":"ui_group","z":"","name":"Rename Device","tab":"540074dc.861f9c","order":6,"disp":true,"width":"6","collapse":false},{"id":"65d5e1a.0ebbd2","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"540074dc.861f9c","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"2d919640.6c365a","type":"mqtt in","z":"63e2b384.b083cc","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","broker":"7ecea253.942ecc","x":120,"y":140,"wires":[["c1fa4b5a.662c88"]]},{"id":"47b422eb.19767c","type":"http in","z":"63e2b384.b083cc","name":"","url":"/adminpanelapi/networkmap/graphviz","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["6a19ced6.ae6e6"]]},{"id":"1ffa9e12.699e42","type":"http response","z":"63e2b384.b083cc","name":"","x":590,"y":200,"wires":[]},{"id":"6a19ced6.ae6e6","type":"function","z":"63e2b384.b083cc","name":"get from flow","func":"var networkmap = flow.get('networkmap');\nmsg.payload = networkmap;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["1ffa9e12.699e42"]]},{"id":"71f8ca10.ab0d34","type":"inject","z":"63e2b384.b083cc","name":"","topic":"","payload":"graphviz","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":80,"wires":[["c00d0c1e.82f58"]]},{"id":"c1fa4b5a.662c88","type":"function","z":"63e2b384.b083cc","name":"store in flow","func":"flow.set('networkmap',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"c00d0c1e.82f58","type":"mqtt out","z":"63e2b384.b083cc","name":"zigbee2mqtt/in","topic":"zigbee2mqtt/bridge/networkmap","qos":"","retain":"","broker":"65d5e1a.0ebbd2","x":280,"y":80,"wires":[]},{"id":"3583fe5.89fce02","type":"mqtt in","z":"31603bf4.ef0d04","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"7ecea253.942ecc","x":290,"y":140,"wires":[["fff09d42.da5ed"]]},{"id":"fff09d42.da5ed","type":"json","z":"31603bf4.ef0d04","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["ad29d6ce.5b4768","749078d2.9cf278","2f9e4e39.6914e2"]]},{"id":"4254a1c9.9ad68","type":"ui_toast","z":"31603bf4.ef0d04","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"ad29d6ce.5b4768","type":"function","z":"31603bf4.ef0d04","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["4254a1c9.9ad68"]]},{"id":"aa72d0.e677ad3","type":"comment","z":"31603bf4.ef0d04","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"e81296cc.2e4728","type":"comment","z":"31603bf4.ef0d04","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"c2a2d1b3.20381","type":"ui_toast","z":"31603bf4.ef0d04","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"749078d2.9cf278","type":"function","z":"31603bf4.ef0d04","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["c2a2d1b3.20381"]]},{"id":"b32d3400.b32fb8","type":"comment","z":"31603bf4.ef0d04","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"824379.e28cac88","type":"ui_toast","z":"31603bf4.ef0d04","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"2f9e4e39.6914e2","type":"function","z":"31603bf4.ef0d04","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["824379.e28cac88"]]},{"id":"7dd194a3.69eb5c","type":"comment","z":"31603bf4.ef0d04","name":"Incoming or Repairing","info":"","x":640,"y":140,"wires":[]},{"id":"5ea979e7.0ebe18","type":"mqtt in","z":"de520821.ba64a8","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"7ecea253.942ecc","x":350,"y":140,"wires":[["9ac16707.5d3418"]]},{"id":"bbf4925a.303e9","type":"ui_template","z":"de520821.ba64a8","group":"9c11a703.4df1f8","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"96cadc8d.2e195","type":"mqtt out","z":"de520821.ba64a8","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"7ecea253.942ecc","x":580,"y":60,"wires":[]},{"id":"24ad2393.fbc59c","type":"inject","z":"de520821.ba64a8","name":"Request Device List","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":60,"wires":[["96cadc8d.2e195"]]},{"id":"fc466fc.99e6e9","type":"comment","z":"de520821.ba64a8","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"11644628.f9077a","type":"comment","z":"de520821.ba64a8","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"9ac16707.5d3418","type":"json","z":"de520821.ba64a8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["bbf4925a.303e9","5adeed5a.466f44","bddc8fe9.4a78e"]]},{"id":"620cc0a8.e76e7","type":"http in","z":"de520821.ba64a8","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["9f208900.12c348"]]},{"id":"5adeed5a.466f44","type":"function","z":"de520821.ba64a8","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"7903fb03.e1a784","type":"http response","z":"de520821.ba64a8","name":"","x":870,"y":220,"wires":[]},{"id":"9f208900.12c348","type":"function","z":"de520821.ba64a8","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["7903fb03.e1a784"]]},{"id":"af3acf6f.8f23a","type":"comment","z":"de520821.ba64a8","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"bddc8fe9.4a78e","type":"function","z":"de520821.ba64a8","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"ddef266b.b04f48","type":"mqtt in","z":"c7eff855.590c68","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","broker":"7ecea253.942ecc","x":270,"y":80,"wires":[["d418ce95.4a098"]]},{"id":"d418ce95.4a098","type":"function","z":"c7eff855.590c68","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["f99ccb55.1bf328"]]},{"id":"39f07788.c687a8","type":"ui_template","z":"c7eff855.590c68","group":"58e4ce44.5720e","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"aa4b4769.20a0f8","type":"function","z":"c7eff855.590c68","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["39f07788.c687a8"]]},{"id":"6d2a2208.52332c","type":"inject","z":"c7eff855.590c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":140,"wires":[["aa4b4769.20a0f8"]]},{"id":"f99ccb55.1bf328","type":"debug","z":"c7eff855.590c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"4303f26c.39ef5c","type":"comment","z":"c7eff855.590c68","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"16ef9560.2de7cb","type":"comment","z":"c7eff855.590c68","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"e7e36d60.cc847","type":"http in","z":"c7eff855.590c68","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["8eea1400.1ef34"]]},{"id":"7b74c0cc.06f8f","type":"http response","z":"c7eff855.590c68","name":"","x":590,"y":220,"wires":[]},{"id":"8eea1400.1ef34","type":"function","z":"c7eff855.590c68","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["7b74c0cc.06f8f"]]},{"id":"e498a61e.e31758","type":"comment","z":"c7eff855.590c68","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"3a9bb8bf.2dc4d8","type":"ui_dropdown","z":"23f2967c.7736da","name":"","label":"","place":"Select option","group":"50bc64e8.f0707c","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["c2c8d15d.10f69"]]},{"id":"c2c8d15d.10f69","type":"mqtt out","z":"23f2967c.7736da","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"65d5e1a.0ebbd2","x":380,"y":60,"wires":[]},{"id":"c12e5683.736038","type":"ui_text_input","z":"9003f01a.461e5","name":"","label":"Device Name","group":"fadceea6.d09e2","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["dde8896c.4ef858"]]},{"id":"2621c5be.91a0da","type":"mqtt out","z":"9003f01a.461e5","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"65d5e1a.0ebbd2","x":1190,"y":60,"wires":[]},{"id":"b7916964.3fa1e8","type":"function","z":"9003f01a.461e5","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"dde8896c.4ef858","type":"change","z":"9003f01a.461e5","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["b7916964.3fa1e8"]]},{"id":"a48d8cea.b5335","type":"function","z":"9003f01a.461e5","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["2621c5be.91a0da"]]},{"id":"9c666764.834528","type":"ui_button","z":"9003f01a.461e5","name":"","group":"fadceea6.d09e2","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["a48d8cea.b5335","b5435544.e82618"]]},{"id":"c8d8035f.3dfb3","type":"comment","z":"9003f01a.461e5","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"e645e36f.a9e91","type":"mqtt in","z":"9003f01a.461e5","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"7ecea253.942ecc","x":290,"y":120,"wires":[["b02dd924.0dd8a8"]]},{"id":"b02dd924.0dd8a8","type":"json","z":"9003f01a.461e5","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["f595d954.980688"]]},{"id":"cfee4e2c.5ddb9","type":"ui_toast","z":"9003f01a.461e5","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"f595d954.980688","type":"function","z":"9003f01a.461e5","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["cfee4e2c.5ddb9"]]},{"id":"fbd39079.97792","type":"comment","z":"9003f01a.461e5","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"d434e46a.f33968","type":"ui_toast","z":"9003f01a.461e5","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"b5435544.e82618","type":"function","z":"9003f01a.461e5","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["d434e46a.f33968"]]},{"id":"40374ebe.97abd","type":"ui_dropdown","z":"3961a81d.10f088","name":"","label":"","place":"Select option","group":"af644b9e.a333e8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["922867e9.bbbdc8","37aa89fa.e36286"]]},{"id":"922867e9.bbbdc8","type":"mqtt out","z":"3961a81d.10f088","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"65d5e1a.0ebbd2","x":270,"y":40,"wires":[]},{"id":"401f53dd.10a8cc","type":"ui_toast","z":"3961a81d.10f088","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"37aa89fa.e36286","type":"function","z":"3961a81d.10f088","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["401f53dd.10a8cc"]]},{"id":"4b624e9.392c1b","type":"ui_text_input","z":"5cdac9a8.0a6628","name":"","label":"Old Name","group":"3d3dfd2c.a4aa22","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["3c352b60.adade4"]]},{"id":"146d948f.52c45b","type":"ui_text_input","z":"5cdac9a8.0a6628","name":"","label":"New Name","group":"3d3dfd2c.a4aa22","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["2da68677.7df49a"]]},{"id":"694562ab.e0ea2c","type":"mqtt out","z":"5cdac9a8.0a6628","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"65d5e1a.0ebbd2","x":1010,"y":140,"wires":[]},{"id":"5968cb0f.963834","type":"function","z":"5cdac9a8.0a6628","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"3c352b60.adade4","type":"change","z":"5cdac9a8.0a6628","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["5968cb0f.963834"]]},{"id":"2da68677.7df49a","type":"change","z":"5cdac9a8.0a6628","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["cbcc1f57.0a5a7"]]},{"id":"9cb8b2db.64699","type":"function","z":"5cdac9a8.0a6628","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["694562ab.e0ea2c"]]},{"id":"cbcc1f57.0a5a7","type":"function","z":"5cdac9a8.0a6628","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"bd202524.f86048","type":"ui_button","z":"5cdac9a8.0a6628","name":"","group":"3d3dfd2c.a4aa22","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["9cb8b2db.64699","a7393a35.1c1118"]]},{"id":"815fa1de.af015","type":"ui_toast","z":"5cdac9a8.0a6628","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"a7393a35.1c1118","type":"function","z":"5cdac9a8.0a6628","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["815fa1de.af015"]]},{"id":"a517f0fe.0ed52","type":"subflow:5cdac9a8.0a6628","z":"50980a8e.663db4","name":"","x":500,"y":260,"wires":[]},{"id":"403340f.b59e0c","type":"subflow:3961a81d.10f088","z":"50980a8e.663db4","name":"","x":480,"y":220,"wires":[]},{"id":"34d8de62.6d9802","type":"subflow:9003f01a.461e5","z":"50980a8e.663db4","name":"","x":500,"y":300,"wires":[]},{"id":"8418f6ad.50bcd8","type":"comment","z":"50980a8e.663db4","name":"Function","info":"","x":480,"y":180,"wires":[]},{"id":"b7623758.5c0238","type":"subflow:23f2967c.7736da","z":"50980a8e.663db4","name":"","x":490,"y":340,"wires":[]},{"id":"2ff4760c.01723a","type":"subflow:c7eff855.590c68","z":"50980a8e.663db4","name":"","x":470,"y":380,"wires":[]},{"id":"15c995ca.c2021a","type":"subflow:de520821.ba64a8","z":"50980a8e.663db4","name":"","x":470,"y":420,"wires":[]},{"id":"7f1d0b6e.4725c4","type":"comment","z":"50980a8e.663db4","name":"Other","info":"","x":730,"y":180,"wires":[]},{"id":"653d2ffd.90bbc","type":"subflow:31603bf4.ef0d04","z":"50980a8e.663db4","name":"","x":770,"y":220,"wires":[]},{"id":"20b70674.551cba","type":"subflow:63e2b384.b083cc","z":"50980a8e.663db4","name":"","x":750,"y":260,"wires":[]},{"id":"a0ce564c.68b788","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Kantoor Aan","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kantoor\"}","mergecontext":"","x":1190,"y":100,"wires":[[]]},{"id":"f4fe1d63.f9743","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Kantoor","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_kantoor_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":100,"wires":[["5e09cdfa.6000f4"]]},{"id":"6b96f87.9acda08","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Licht Kantoor Aan","server":"f008d9e7.b52e28","entityidfilter":"light.kantoor","entityidfiltertype":"substring","haltifstate":"off","outputinitially":false,"x":130,"y":180,"wires":[["ad3f0092.73266"]]},{"id":"ad3f0092.73266","type":"switch","z":"f57f3c7d.e814f","name":"IsAan","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":180,"wires":[["ccf3aae4.47ddb8"]]},{"id":"ccf3aae4.47ddb8","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 15 minuten","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":180,"wires":[["11499c8e.898253"]]},{"id":"11499c8e.898253","type":"api-current-state","z":"f57f3c7d.e814f","name":"Beweging Kantoor","server":"f008d9e7.b52e28","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.motion_sensor_kantoor_occupancy","x":770,"y":180,"wires":[["c4ced3f5.763d8"]]},{"id":"6002aa56.5f3544","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Kantoor Uit","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kantoor\"}","mergecontext":"","x":1190,"y":180,"wires":[[]]},{"id":"c4ced3f5.763d8","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":180,"wires":[["6002aa56.5f3544"],["4b713110.b010b"]]},{"id":"4b713110.b010b","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 30 seconden","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":280,"wires":[["11499c8e.898253"]]},{"id":"a9e11f44.c40a3","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Trapkast Aan","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.trapkast\"}","mergecontext":"","x":1190,"y":360,"wires":[[]]},{"id":"3bb02324.b6fe0c","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Trapkast","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_trapkast_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":360,"wires":[["6cd42093.ac206"]]},{"id":"a6f95ab7.5216d8","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Licht Trapkast Aan","server":"f008d9e7.b52e28","entityidfilter":"light.trapkast","entityidfiltertype":"substring","haltifstate":"off","outputinitially":false,"x":130,"y":440,"wires":[["93ceaad3.b1c878"]]},{"id":"93ceaad3.b1c878","type":"switch","z":"f57f3c7d.e814f","name":"IsAan","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":440,"wires":[["40531add.021ba4"]]},{"id":"40531add.021ba4","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 5 minuten","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":440,"wires":[["92a47033.1949d"]]},{"id":"92a47033.1949d","type":"api-current-state","z":"f57f3c7d.e814f","name":"Beweging Trapkast","server":"f008d9e7.b52e28","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.motion_sensor_trapkast_occupancy","x":770,"y":440,"wires":[["908f2c48.c0119"]]},{"id":"b6fde6f1.45ea58","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Trapkast Uit","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.trapkast\"}","mergecontext":"","x":1190,"y":440,"wires":[[]]},{"id":"908f2c48.c0119","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":440,"wires":[["b6fde6f1.45ea58"],["cc722fd7.1de7c"]]},{"id":"cc722fd7.1de7c","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 30 seconden","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":540,"wires":[["92a47033.1949d"]]},{"id":"43015e3e.b4da","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Berging Aan","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.berging\"}","mergecontext":"","x":1190,"y":620,"wires":[[]]},{"id":"277d2fdf.593df","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Berging","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_berging_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":620,"wires":[["34ec9faf.6b1b7"]]},{"id":"5b25317f.3d763","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Licht Berging Aan","server":"f008d9e7.b52e28","entityidfilter":"light.berging","entityidfiltertype":"substring","haltifstate":"off","outputinitially":false,"x":130,"y":700,"wires":[["cf923757.90d828"]]},{"id":"cf923757.90d828","type":"switch","z":"f57f3c7d.e814f","name":"IsAan","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":700,"wires":[["98b67476.7977d8"]]},{"id":"98b67476.7977d8","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 5 minuten","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":700,"wires":[["3abd0eb0.5b9dd2"]]},{"id":"3abd0eb0.5b9dd2","type":"api-current-state","z":"f57f3c7d.e814f","name":"Beweging Berging","server":"f008d9e7.b52e28","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.motion_sensor_berging_occupancy","x":770,"y":700,"wires":[["55901e06.bb1f6"]]},{"id":"8f922f2e.0725","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Berging Uit","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.berging\"}","mergecontext":"","x":1180,"y":700,"wires":[[]]},{"id":"55901e06.bb1f6","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":700,"wires":[["8f922f2e.0725"],["d0ed1a22.becfb8"]]},{"id":"d0ed1a22.becfb8","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 30 seconden","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":800,"wires":[["3abd0eb0.5b9dd2"]]},{"id":"5e09cdfa.6000f4","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":100,"wires":[[],["38b37961.b09f06"]]},{"id":"6cd42093.ac206","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":360,"wires":[[],["a9e11f44.c40a3"]]},{"id":"34ec9faf.6b1b7","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":620,"wires":[[],["43015e3e.b4da"]]},{"id":"72200ec4.804a","type":"comment","z":"f57f3c7d.e814f","name":"Kantoor","info":"","x":90,"y":40,"wires":[]},{"id":"6df71a0a.6408d4","type":"comment","z":"f57f3c7d.e814f","name":"Trapkast","info":"","x":100,"y":300,"wires":[]},{"id":"a650adde.90a2e","type":"comment","z":"f57f3c7d.e814f","name":"Berging","info":"","x":90,"y":560,"wires":[]},{"id":"4b171a65.7d3dc4","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Washok Aan","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.washok\"}","mergecontext":"","x":1190,"y":860,"wires":[[]]},{"id":"db7bd421.23a5d8","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Washok","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_washok_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":860,"wires":[["1e9a40cd.3ae80f"]]},{"id":"6e74673e.977218","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Licht Washok Aan","server":"f008d9e7.b52e28","entityidfilter":"light.washok","entityidfiltertype":"substring","haltifstate":"off","outputinitially":false,"x":130,"y":940,"wires":[["10869509.9599fb"]]},{"id":"10869509.9599fb","type":"switch","z":"f57f3c7d.e814f","name":"IsAan","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":940,"wires":[["b5ff241e.e7b958"]]},{"id":"b5ff241e.e7b958","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 5 minuten","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":940,"wires":[["90cb954a.7e77f8"]]},{"id":"90cb954a.7e77f8","type":"api-current-state","z":"f57f3c7d.e814f","name":"Beweging Washok","server":"f008d9e7.b52e28","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.motion_sensor_washok_occupancy","x":770,"y":940,"wires":[["74a85c48.b380e4"]]},{"id":"e3253db1.d9476","type":"api-call-service","z":"f57f3c7d.e814f","name":"Licht Washok Uit","server":"f008d9e7.b52e28","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.washok\"}","mergecontext":"","x":1190,"y":940,"wires":[[]]},{"id":"74a85c48.b380e4","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":940,"wires":[["e3253db1.d9476"],["77b234e.5987dcc"]]},{"id":"77b234e.5987dcc","type":"delay","z":"f57f3c7d.e814f","name":"Wacht 30 seconden","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":1040,"wires":[["90cb954a.7e77f8"]]},{"id":"1e9a40cd.3ae80f","type":"switch","z":"f57f3c7d.e814f","name":"IsBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":860,"wires":[[],["4b171a65.7d3dc4"]]},{"id":"9aa59cff.8368c","type":"comment","z":"f57f3c7d.e814f","name":"Washok","info":"","x":90,"y":820,"wires":[]},{"id":"568f6c94.734204","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Kantoor","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_kantoor_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":240,"wires":[["b0a5a92b.ee2a68"]]},{"id":"8a9c44f.138a7b8","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Trapkast","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_trapkast_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":500,"wires":[["93ceaad3.b1c878"]]},{"id":"5c970ef8.676d1","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Berging","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_berging_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":760,"wires":[["cf923757.90d828"]]},{"id":"75ce5442.94bfac","type":"server-state-changed","z":"f57f3c7d.e814f","name":"Beweging Washok","server":"f008d9e7.b52e28","entityidfilter":"binary_sensor.motion_sensor_washok_occupancy","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":130,"y":1000,"wires":[["10869509.9599fb"]]},{"id":"38b37961.b09f06","type":"api-current-state","z":"f57f3c7d.e814f","name":"Licht Kantoor","server":"f008d9e7.b52e28","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.motion_sensor_kantoor_illuminance","x":630,"y":100,"wires":[["6a6f2638.7466b8"]]},{"id":"6a6f2638.7466b8","type":"switch","z":"f57f3c7d.e814f","name":"IsDonker","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":100,"wires":[["a0ce564c.68b788"]]},{"id":"667eebfe.e00824","type":"bigtimer","z":"f57f3c7d.e814f","outtopic":"","outpayload1":"","outpayload2":"","name":"IsNacht","lat":"52.08474","lon":"4.89144","starttime":"5005","endtime":"0","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":440,"y":300,"wires":[["b77e68d2.0b98c8"],[],[]]},{"id":"b77e68d2.0b98c8","type":"debug","z":"f57f3c7d.e814f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":300,"wires":[]},{"id":"b0a5a92b.ee2a68","type":"switch","z":"f57f3c7d.e814f","name":"GeenBeweging","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":240,"wires":[["ccf3aae4.47ddb8"]]}]